# Gradle
.gradle/
build/

# local properties
local.properties

# logs
*.log

# android studio
.idea/
*.iml
*.iws
*.ipr

# native build folders
.externalNativeBuild/
.cxx/

# system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# compiled java/kotlin files
*.class

# archieves
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# vm fall logs
hs_err_pid*
replay_pid*

.kotlin/
captures/
proguard/
.artifacts/
app/release/